Click==7.0
entrypoints==0.3
flake8==3.7.8
Flask==1.1.1
Flask-Cors==3.0.9
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
marshmallow==3.0.0rc9
marshmallow-dataclass==6.0.0rc5
mccabe==0.6.1
mypy-extensions==0.4.1
numpy==1.17.0
pycodestyle==2.5.0
pyflakes==2.1.1
six==1.12.0
tinydb==3.13.0
typing-inspect==0.4.0
Werkzeug==0.15.5
